*.sap
*.orig
*.bak
*.rpyc

Bienvenue A La Cosy Academie/game/cache/

Bienvenue A La Cosy Academie/log\.txt

Bienvenue A La Cosy Academie/game/saves/

Bienvenue A La Cosy Academie/errors\.txt

Bienvenue A La Cosy Academie/traceback\.txt

BienvenueALaCosyAcademie-dists/

*.rpymc
